*/release/docs/*
*/release/docs/
*/nbproject/private/
*/build/
platform-*
/maui/PipelineRunner/build/
/maui/ChartComponents/build/
/maui/PeakNormalization/build/
/maui/Maui Core Pipeline Editor/build/
/maui/ChromAProject/build/
/maui/Maui CeBiTec Branding/build/
/maui/FileHandles/build/
/maui/CDFFileHandle/build/
/maui/ChromaTOFPeakImporter/build/
/maui/GroovyActions/build/
/maui/ToolsUILibraryWrapper/nbproject/private/
/maui-ext/module8/build/
/maui-ext/module8/nbproject/private/
proteus*
