*/release/docs/*
*/release/docs/
*/nbproject/private/*
*/nbproject/private/
*/build/
*/build/*
*/private.xml
*-doc.zip
*-src.zip
maui/*/build
maui/*/nbproject/private
maui-ext/*/build
maui-ext/*/nbproject/private
omics-base/*/build
omics-base/*/nbproject/private
proteus*
platform-7.2.1/
/maui/dist/


/maui-ext/pipelineTestModule/target/
/maui-ext/dist/

.DS_Store
maui-ext/.DS_Store
maui-ext/pipelineTestModule/.DS_Store
maui-ext/pipelineTestModule/src/.DS_Store
maui-ext/pipelineTestModule/src/main/.DS_Store
maui-ext/pipelineTestModule/src/main/resources/.DS_Store
maui-ext/pipelineTestModule/src/main/resources/cfg/.DS_Store
maui-ext/pipelineTestModule/src/main/resources/cfg/pipelines/.DS_Store
maui/.DS_Store
/tools/pToolsBinding/build/
/tools/pToolsBinding/dist/
/tools/pToolsBindingTest/build/
/tools/pToolsBindingTest/dist/
/installer/stub/ext/engine/nbproject/private/
/installer/stub/ext/engine/build/
/installer/stub/ext/engine/dist/
/installer/stub/ext/components/products/helloworld/nbproject/private/
/omics-base/dist/
/nbi/stub/ext/components/products/helloworld/nbproject/private/
/nbi/stub/ext/engine/build/
/nbi/stub/ext/engine/dist/
/nbi/stub/ext/engine/nbproject/private/
/platform-8.0/
/platform-7.4/
