body {
    font-size: medium;
    font-family: SansSerif, Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin-left: 5;
    margin-right: 5;
    color: #000000;
    background-color: #FFFFFF
}

p {
    font-size: medium;
    margin-top: 5;
    margin-bottom: 5
}

h1 {
    font-size: large;
    font-weight: bold;
    margin-top: 10;
    margin-bottom: 5
}

h2 {
    font-size: large;
    font-weight: bold;
    margin-top: 10;
    margin-bottom: 5
}

h3 { 
    font-size: medium;
    font-weight: bold;
    margin-top: 10;
    margin-bottom: 5
}

h4 { 
    font-size: medium;
    font-weight: bold;
    margin-top: 10;
    margin-bottom: 5
}

h6 { 
    font-size: small;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10
}

li {
    margin-top: 0;
    margin-bottom: 5
}

li p{
    margin-top: 5;
    margin-bottom: 0
}

ul {
    list-style-type: lower-alpha;
    margin-top: 5;
    margin-bottom: 0;
    margin-left: 22
}

ol {
    list-style-type: decimal;
    margin-top: 5;
    margin-bottom: 0;
    margin-left: 22
}

dl {
    margin-left: 0;
    margin-top: 10;
    margin-bottom: 5
}

dt {
    font-size: small;
    font-style: normal;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    text-indent: 0
}

dd {
    font-size: small;
    font-style: normal;
    font-weight: normal;
    margin-top: 2;
    margin-left: 25
}

table {
    border-style: solid;
    border-color: #CCCCCC;
    margin-top: 5;
    margin-bottom: 5
}

td {
    border-style: solid;
    border-color: #CCCCCC;
    padding-left: 1;
    padding-right: 1;
    padding-top: 1;
    padding-bottom: 1
}

th {
    border-style: solid;
    border-color: #CCCCCC;
    padding-left: 1;
    padding-right: 1;
    padding-top: 1;
    padding-bottom: 1
}

small {
    font-size: x-small
}
